.frame {
  position: relative;
  width: 839px;
  height: 612px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000040;
}

.frame .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 839px;
  height: 76px;
  background-color: #ffffff;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 0px 10px #00000040;
}

.frame .text-wrapper {
  position: absolute;
  top: 26px;
  left: 31px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text {
  position: absolute;
  top: 144px;
  left: 519px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .group {
  position: absolute;
  top: 17px;
  left: 722px;
  width: 88px;
  height: 41px;
}

.frame .div {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000040;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 9px;
  left: 17px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 94px;
  left: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .rectangle-2 {
  position: absolute;
  top: 122px;
  left: 60px;
  width: 705px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 193px;
  left: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .rectangle-3 {
  position: absolute;
  top: 221px;
  left: 60px;
  width: 705px;
  height: 78px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 299px;
  left: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .rectangle-4 {
  position: absolute;
  top: 327px;
  left: 60px;
  width: 281px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .drop-down-button {
  display: inline-flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0px 17px 0px 18px;
  position: absolute;
  top: 318px;
  left: 290px;
  border-radius: 100px;
  overflow: hidden;
}

.frame .drop-down-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--title-3-font-family);
  font-weight: var(--title-3-font-weight);
  color: var(--colorsblack);
  font-size: var(--title-3-font-size);
  text-align: center;
  letter-spacing: var(--title-3-letter-spacing);
  line-height: var(--title-3-line-height);
  white-space: nowrap;
  font-style: var(--title-3-font-style);
}

.frame .text-wrapper-6 {
  position: absolute;
  top: 299px;
  left: 478px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .rectangle-5 {
  position: absolute;
  top: 327px;
  left: 478px;
  width: 281px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .drop-down-button-2 {
  top: 318px;
  left: 708px;
  display: inline-flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0px 17px 0px 18px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.frame .text-wrapper-7 {
  position: absolute;
  top: 356px;
  left: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .rectangle-6 {
  position: absolute;
  top: 384px;
  left: 60px;
  width: 281px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper-8 {
  position: absolute;
  top: 438px;
  left: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-9 {
  position: absolute;
  top: 551px;
  left: 690px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
}

.frame .rectangle-7 {
  position: absolute;
  top: 466px;
  left: 60px;
  width: 699px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

/* .frame .rectangle-8 {
  position: absolute;
  top: 540px;
  left: 676px;
  width: 110px;
  height: 40px;
  background-color: #0a008f;
  border-radius: 8px;
} */

.frame .rectangle-8 {
  position: absolute;
  top: 540px;
  left: 676px;
  width: 110px;
  height: 40px;
  background-color: #0a008f;
  border-radius: 8px;
  color: #fff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}



.frame .drop-down-button-3 {
  top: 375px;
  left: 290px;
  display: inline-flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0px 17px 0px 18px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.frame .drop-down-menu-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-right: -1.00px;
  font-family: var(--title-3-font-family);
  font-weight: var(--title-3-font-weight);
  color: var(--colorsblack);
  font-size: var(--title-3-font-size);
  text-align: center;
  letter-spacing: var(--title-3-letter-spacing);
  line-height: var(--title-3-line-height);
  white-space: nowrap;
  font-style: var(--title-3-font-style);
}

.frame .calendar {
  position: absolute;
  top: 386px;
  left: 317px;
  width: 20px;
  height: 20px;
}

/* .frame .text-wrapper-10 {
  position: absolute;
  top: 555px;
  left: 697px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #f3f7fa;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
} */

.frame .text-wrapper-10 {
  position: absolute;
  top: 548px;  /* adjust based on new button height */
  left: 710px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
